# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/h3_application/x64_Debug/vc143.pdb
build/h3_application/x64_Debug/vc143.idb
build/h3_application/x64_Debug/h3_application.tlog/link.write.2u.tlog
build/h3_application/x64_Debug/h3_application.tlog/link.write.1.tlog
build/h3_application/x64_Debug/h3_application.tlog/link.read.1.tlog
build/h3_application/x64_Debug/h3_application.tlog/link.command.1.tlog
build/h3_application/x64_Debug/h3_application.tlog/h3_application.lastbuildstate
build/h3_application/x64_Debug/h3_application.tlog/CL.write.1.tlog
build/h3_application/x64_Debug/h3_application.tlog/CL.read.1.tlog
build/h3_application/x64_Debug/h3_application.tlog/CL.command.1.tlog
build/h3_application/x64_Debug/h3_application.log
build/h3_application/x64_Debug/h3_application-d.ilk
build/h3_application/x64_Debug/h3_application-d.exe.recipe
bin/h3_application-d.pdb
bin/h3_application-d.exp
bin/h3-s-d.pdb
bin/h3-s-d.idb
.vs/h3_application/v17/Solution.VC.db-wal
.vs/h3_application/v17/Solution.VC.db-shm
.vs/h3_application/v17/ipch/AutoPCH/4b1e4e60d1c20398/MAIN.ipch
.vs/h3_application/v17/Browse.VC.opendb
.vs/h3_application/v17/Browse.VC.db-wal
.vs/h3_application/v17/Browse.VC.db-shm
.vs/h3_application/v17/Browse.VC.db
.vs/h3_application/v17/.suo
.vs/h3_application/FileContentIndex/7dfbac8d-5c1d-4ef7-a895-b6601f15a8fb.vsidx
.vs/h3_application/v17/.suo
.vs/h3_application/v17/Browse.VC.db
.vs/h3_application/FileContentIndex/041b0801-de17-48cd-88d3-4b3d11a6571d.vsidx
.vs/h3_application/FileContentIndex/63b54c19-359b-46d4-9d5f-597f1e95f601.vsidx
.vs/h3_application/FileContentIndex/d21fce9c-f2f1-43df-8d01-0ac370182fb7.vsidx
.vs/h3_application/v17/.suo
.vs/h3_application/v17/Browse.VC.db
.vs/h3_application/v17/ipch/AutoPCH/2daaff996ac9f6c1/H3.ipch
.vs/h3_application/v17/ipch/AutoPCH/3a0231798debed18/COMMON.ipch
.vs/h3_application/v17/ipch/AutoPCH/6bedce1acfb1a99b/PLAYERCOMPONENT.ipch
.vs/h3_application/v17/ipch/AutoPCH/949f1123c450a73a/ZOMBIECOMPONENT.ipch
.vs/h3_application/v17/Solution.VC.db
.vs/h3_application/v17/ipch/AutoPCH/c527879b0641c60a/CAMERACOMPONENT.ipch
.vs/h3_application/FileContentIndex/c799c36b-8679-48da-a7c6-8554cd9df483.vsidx
.vs/h3_application/v17/Browse.VC.db
.vs/h3_application/v17/.suo
.vs/h3_application/FileContentIndex/0ca879f6-cf0c-4f90-b626-5197026c4e4b.vsidx
.vs/h3_application/v17/Browse.VC.db
.vs/h3_application/v17/.suo
